<header>
    <div class="container d-flex justify-content-between align-items-center h-100">
        <h1>Hotels</h1>
        <form action="index.php">
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" name="parking">
                <label class="btn btn-outline-primary" for="btncheck1">Parking</label>

                <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off" name="vote">
                <label class="btn btn-outline-primary" for="btncheck2">Vote</label>

                <button class="btn btn-outline-primary">Cerca</button>
            </div>
        </form>
    </div>
</header>